.heading {
    background: linear-gradient(to right, #090979, #00d4ff);
    padding: 60px;
    padding-bottom: 80px;
    color: aliceblue;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        font-weight: bold;
        text-shadow: 0px 1px 2px rgba($color: #000, $alpha: 0.7);
    }
}

.container {
    max-width: 600px;
    .date {
        max-width: 200px;
    }
    .priority {
        max-width: 400px;
    }
    button {
        margin-top: 23px;
    }
    h5 {
        text-align: center;
    }
    span {
        color: gray;
        font-size: 12px;
    }
}

.add-todo {
    padding: 30px;
    background-color: white;
    border-radius: 6px;
    margin-top: -80px;
    box-shadow: 0 4px 12px rgba(black, 0.3);
}

.filter-label {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 4px;
}
// .search-box {
//    box-shadow: 1px 2px 8px darkblue;
// }



// Filter

// .filter-buttons {
//     margin-bottom: 10px;
//   }
  
//   .filter-button {
//     padding: 5px 10px;
//     margin-right: 5px;
//     background-color: lightgray;
//     border: none;
//     cursor: pointer;
//   }
  
//   .filter-button.active {
//     background-color: gray;
//     color: white;
//   }
  
//   .todo-list {
//     list-style: none;
//     padding: 0;
//   }
  
//   .todo-item {
//     display: none;
//   }
  
//   .todo-item[data-priority="high"],
//   .todo-item[data-priority="medium"],
//   .todo-item[data-priority="low"] {
//     display: block;
//   }
  


footer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}